@mixin gradient-text($gradient) {
  color: transparent;
  background-clip: text;
  background-image: $gradient;
}
@mixin link-font(
  $color: $color-white,
  $is-gradient: false,
  $linear-gradient: none,
  $line-height: normal,
  $text-decoration: none
) {
  @if $is-gradient == true {
    @include gradient-text($linear-gradient);
  } @else {
    color: $color;
  }

  font-size: $link-font-size;
  line-height: $line-height;
  font-weight: 600;
  text-decoration: $text-decoration;
}
@mixin gradient-statistics-title($gradient) {
  font-family: Aqum;
  font-size: 14px;
  text-transform: uppercase;
  @include gradient-text($gradient);
}
