@mixin link-font($color: $color-white, $is-gradient: false, $gradient: none, $line-height: normal, $text-decoration: none) {
  @if $is-gradient == true {
    @include gradient-text($gradient)
  } @else {
    color: $color;
  }

  font-size: $link-font-size;
  line-height: $line-height;
  font-weight: 600;
  text-decoration: $text-decoration;
}

@mixin gradient-text($gradient) {
  color: transparent;
  background-clip: text;
  background-image: $gradient;
}
