.containerItem {
  display: flex;
  justify-content: space-between;
  padding: 29px 56px 41px 57px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 30px;
  max-width: 1380px;

  & .itemPic {
    width: 300px;

    & img {
      object-fit: cover;
    }
  }

  & .itemText {
    width: 70%;
  }

  & h2 {
    margin: 0 0 17px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    font-family: 'Aqum';
  }

  & p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin: 0;
  }

  & .containerButton {
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    margin-top: 34px;
  }

  .btnText button {
    background: linear-gradient(90deg, #7f28d9 0%, #7427cc 100%);

    &:hover {
      background: linear-gradient(90deg, #2E8EFE 0%, #2675F6 100%);
    }
  }

}

.containerItem + .containerItem {
  margin-top: 5px;
}
