.wrapper {
  box-sizing: border-box;
  height: 62px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  background: linear-gradient(90deg, #0439AD 0%, #38028F 100%);
  border: 1px solid #FFFFFF;
}

.information {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.icons {
  margin-top: 8px;

  span {
    margin-left: 9px;

    &:first-child {
      margin-left: 0;
    }
  }
}
