.calendar {
  position: relative;

  & > .calendarImage {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;

    & > .blockCalendar {
      position: absolute;
      top: 35px;
      right: 0;
      z-index: 600;
    }
  }

}


.titleCalendar {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.myCalendar {
  width: 380px;
  background: #ffffff;
  border: none !important;
  box-shadow: 0 0 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px;


  button > span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
  }

  button:first-child {
    display: none !important;
  }

  button:last-child {
    display: none !important;
  }

}



