.container {
  height: 100%;
}

.main {
  display: grid;
  grid-template: repeat(2, auto) / auto 105px 90px 45px auto;
  grid-row-gap: 25px;
  justify-content: start;
  padding: 30px 20px 25px;
}

.cardStudent {
}

.weeklyGrowth {
  grid-column: span 3;
  grid-column-end: -1;
}

.homeworks {
  grid-column: span 3;
  grid-row-start: 2;
}

.keepPlaying {
  grid-row-start: 2;
  grid-column-end: -1;
}
