.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 60px 15px;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 450px;
  border-radius: 30px;
  box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
}

.modalButton {

  position: absolute;
  right: 20px;
  top: 21px;
  cursor: pointer;
}
