.header {
  height: 100px;
  padding-left: 25px;
  padding-right: 50px;
  background: url('../../../public/svgs/header-background.svg') 76% top no-repeat, linear-gradient(90deg, #7f28d9 0%, #352184 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
