.layout {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e8eff6;
  background-image: url(../../../../public/images/background-layout.png);
  background-position: center right;
  background-repeat: no-repeat;
}
