.sidebar {
  width: 183px;
  box-shadow: 4px 0 20px rgba(127, 40, 217, 0.15);
  background-color: $color-purple-lighter;
}

$navigation-link-font-map: (
  is-gradient: true,
  gradient: linear-gradient(90deg, #0439ad 0%, #38028f 100%),
);

.link {
  @include link-font($navigation-link-font-map...);

  display: flex;
  align-items: center;
  height: 135px;
  width: 100%;
  padding-left: 25px;
  border-bottom: 1px solid #deebff;
  text-align: left;
}

.linkWrapper {
  &:hover {
    background-color: $color-purple;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.linkImage {
  display: flex;
  margin-right: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  overflow: hidden;
}
