.container {
  padding: 33px 30px 14px 10px;
  box-sizing: border-box;

  & .wrapBlock {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #babec6;
    margin-bottom: 20px;

    & > .infoBlock {
      padding: 0 20px;
      box-sizing: border-box;
      width: 33%;
    }

    & .franchiseesBlock > div:nth-child(1) div p {
      background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .legalAddress > div {
      justify-content: space-between;
    }

    & .legalAddress > div:nth-child(1) div p {
      background: linear-gradient(90deg, #7F28D9 0%, #7427CC 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .paginationBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
  }

  & .btnBlock {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  & .innerContent {
    display: flex;
    justify-content: space-between;

    & .leftBlock {
      width: 81%;
    }

    & .rightBlock {
      width: 18%;
    }

  }
}
