
.table {
  //width: 1604px;
  //height: 1041px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  /* Shadow pashka */
  box-shadow: 0px 0px 40px rgba(86, 89, 146, 0.15);
  border-radius: 10px 10px 0px 0px;
  border: 1px solid black;

  th {
    width: 320px;
    height: 40px;
    margin: 0;
    padding: 0;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    background: #E8EFF6;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border-right: 1px solid #E0DFDD;
    //line-height: 17px;
    /* identical to box height */
  }
}


